@if(card) {
  <div class="kanban-card">
    <div class="card-title">{{ card?.title }}</div>
    <div class="card-id">{{ card?.id }}</div>
    <div class="card-progress">
      <div class="progress-bar" [style.width.%]="card?.progress"></div>
    </div>
    <div class="card-author">
      <img [src]="card?.avatarUrl" alt="Avatar" class="author-avatar">
      <span class="author-name">{{ card?.author }}</span>
    </div>
    <div class="card-time">{{ card?.time }}</div>
  </div>
} @else {
  no data
}
