<div class="d-flex">
<nav class="navbar">
  <ul class="menu">
    @for (menu of menuItems; track menu.name) {
      <li>
        <a [routerLink]="menu.path">
          <img [src]="'/assets/svg/' + menu.icon" alt="{{ menu.name }} icon">
          {{ menu.name }}
        </a>
      </li>
    }
  </ul>
  <span>
  <button>
    Создать
  </button>
</span>
</nav>
<div>
<div class="info-time">

</div>
  <div>
    <tui-avatar class="tui-space_horizontal-4">
      <picture>
        <img
          alt="Alex Inkin"
          src="/assets/img/peson.png"
        />
      </picture>
    </tui-avatar>
    <tui-badged-content [style.--tui-radius.%]="50">
      <tui-avatar class="tui-space_horizontal-4">
        <picture>
          <source
            media="(min-width: 600px)"
            srcset="/assets/images/angular.svg"
          />
          <img
            alt="Alex Inkin"
            src="/assets/images/avatar.jpg"
          />
        </picture>
      </tui-avatar>
    </tui-badged-content>
  </div>
</div>
</div>
<router-outlet></router-outlet>
