<div class="header-page">
  <div class="header-page__navbar">
    <ul class="header-page__menu">
      @for (menuItem of menuItems; track menuItem.name) {
        <li class="header-page__menu-item">
          <a [routerLink]="menuItem.link" class="header-page__menu-link">
            <svg [icon]="menuItem.icon" class="header-page__menu-icon"></svg>
            <p class="header-page__text">{{ menuItem.name }}</p>
          </a>
        </li>
      }
      <button class="header-page__create-button">
        <svg [icon]="'plus'" class="icon-plus"></svg>
        Создать
        <svg [icon]="'icon-arrow-down'" class="icon-arrow-down"></svg>
      </button>
    </ul>
  </div>
  <div class="header-page__additional">
    <div class="header-page__time">
      <svg [icon]="'clock'" class="header-page__icon"></svg>
      <span class="header-page__time-text">{{ formattedTime }}</span>
    </div>
    <div class="header-page__status">
      <svg [icon]="'bracket'" class="header-page__icon"></svg>
      <span class="header-page__task" title="{{ postMessage }}">{{ postMessage }}</span>
    </div>
    <button class="header-page__notification-button">
      <svg [icon]="'message'" class="header-page__notification-icon"></svg>
      <div class="header-page__notification-count">
        <span class="header-page__notification-num">{{ messageCount }}</span>
      </div>
    </button>
    <div class="header-page__avatar">
      <img ngSrc="/assets/img/person.png" alt="avatar" class="header-page__avatar-image" height="16" width="16"/>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
