@import "fonts";
:root {
  //background
  --bg_grayDark: #F1F2F4;
  --bg_blocks: #F9FAFC;
  --bg_fields: #F5F6F8;
  --bg_menu: #FFFFFF;
  --bg-blue: #EFFAFF;
  --border-card-color: rgba(0, 0, 0, 0.05);
  //text
  --text-primary: #242424;
  --text-text: #5E5E5E;
  --text-secondary: #7E7E7E;
  --text-service: #B0B0B0;
  --link: #005BD1;
  --link-visited: #528FDF;
  --divider: #E0E0E0;
  //shadow
  --border-new_shdw_card: 1px solid rgba(38, 58, 91, 0.05);
  --box-shadow-new_shdw_card: 0px 3px 10px 0px rgba(38, 58, 91, 0.05);
  --border-shdw_modal: 0px -2px 6px 0px rgba(0, 7, 62, 0.05);
  --box-shadow-shdw_modal: 0px 16px 32px 0px rgba(0, 7, 62, 0.08);
  --border-shdw_menu: 0px 2px 6px 0px rgba(0, 7, 62, 0.05);
  --box-shadow-shdw_menu: 0px 12px 24px 0px rgba(0, 7, 62, 0.10);
  // colors
  --active_blue: #16A4E3;
  --red: #CE0000;
  --green: #1BBA69;
  --orange: #FF9000;
  --white: #FFFFFF;
  --black: #000000;
  //bugs
  --bug_blocked: #FF0000;
  --bug_critical: #A90C26;
  --bug_major: #ED4E4E;
  --bug_minor: #FF7002;
  --bug_trivial: #B0B0B0;
  //buttons
  --fix-button_bg: #fdf2f2;
  --fix-button_bg-hover: #f5cccc;
  --work-button_bg: #f3fafe;
  --work-button_bg-hover: #d0edf9;
  --accept-button_bg: #f4fcf8;
  --accept-button_bg-hover: #d1f1e1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-secondary);

  &:hover {
    color: var(--active_blue);
  }
}

ul[class],
ol[class] {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg_grayDark);
  font-size: 14px;
  line-height: 21px;
}

html {
  font-size: 10px;
  line-height: 10px;
  margin-left: 60px;
  margin-right: 40px;
  @media (max-width: 425px) {
    margin-left: 5px;
    margin-right: 5px;
  }
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

svg {
  width: 16px;
  height: 16px;
}
